<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Trang chủ</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="wishlist">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label>Yêu thích</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-badge color="danger" mode="ios"></ion-badge>
      <ion-label>Giỏ hàng</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Tài khoản</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
