<ion-content>
  <form [formGroup]="loginForm">
    <ion-grid>
      <ion-row class="ion-justify-content-center item-heading">
        <ion-col size="9">
          <h2 translate>Đăng nhập</h2>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center item-social-buttons">
        <ion-col size="3" class="ion-align-self-center ion-text-center">
          <ion-button color="google">
            <ion-icon slot="icon-only" name="logo-google"> </ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="3" class="ion-align-self-center ion-text-center">
          <ion-button color="facebook">
            <ion-icon slot="icon-only" name="logo-facebook"> </ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center item-sub-heading">
        <ion-col size="9" class="ion-text-center">
          <p translate>Hoặc</p>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center item-input">
        <ion-col size="9">
          <p translate>Tài khoản</p>
          <ion-input type="email" formControlName="email" [(ngModel)]="model.username"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center item-input">
        <ion-col size="9">
          <p translate>Mật khẩu</p>
          <ion-input [type]="showPassword?'text':'password'" formControlName="password"  [(ngModel)]="model.password">
            <ion-button size="small" fill="clear" color="light" (click)="togglePassword()">
              <ion-icon  *ngIf="!showPassword" name="eye-outline" slot="icon-only"></ion-icon>
              <ion-icon *ngIf="showPassword" name="eye-off-outline"></ion-icon>
            </ion-button>
          </ion-input>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center item-button">
        <ion-col size="9" class="ion-align-self-center ion-text-end">
          <ion-button translate shape="round" color="secondary" (click)="validateLogin()">
            <ion-icon name="caret-forward-outline" slot="end"></ion-icon>
              Đăng nhập
            </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center item-sub-heading">
        <ion-col size="9" class="ion-text-center">
          <p translate>
            Không có tài khoản
            <span (click)="toggleLogin()" translate>Đăng ký</span>
          </p>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center item-sub-heading">
        <ion-col size="9" class="ion-text-center">
          <ion-button translate (click)="goBack()" color="light" fill="clear" shape="round">
            <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
              Trang chủ
            </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
